html, body {
    margin: 0;
    padding: 0;
}


* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

/* Navbar */
header {
    height: 69px;
    position: fixed;
    background-color: black;
    width: 99vw;
    max-width: 1280px;
    border-bottom: 1px solid seashell;
    text-align: right;
    z-index: 5;
}

#logo img{
    margin: 10px;
    height: 50px;
    float: left;
    position: relative;
    opacity: 0.9;
}

#navbar {
    margin: 20px 10px;
}

#navbar a {
    color: seashell;
    margin: 20px 10px;
    opacity: 0.9;
}

/* Mission Div */
#mission {
    background: url("/images/img-mission-background.webp");
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 69px;
}

.mission {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 13.8em;
    text-align: center;
    max-width: 1200px;
    line-height: 1;
}

.mission h2 { margin: 10px 0 0 0; }
.mission h4 { margin: 1em 0 0.5em 0; }


/* Featured Tea */
#teaOfTheMonth {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    padding-top: 2.4em;
    line-height: 1;
}

#teaOfTheMonth h4 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 1.1em;
}

h2, h4 { text-align: center; opacity: 0.9; }

#featuredTeaImgs {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

#featuredTeaImgs h4 {
    margin: 1px auto 17px auto;
}
.teaImgs img{
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

.teaImgs {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}



/* Locations */
#locations {
    background: url("/images/img-locations-background.webp") no-repeat;
    text-align: center;
    height: 500px;
    width: 1200px;
    margin: auto auto;
    position: relative;
    top: 22px;
}

#locations h2 {
    padding-top: 2em;
    margin-bottom: 15px;
}

h3 { opacity: 0.9;} 

#locationsCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.locations {
    width: 300px;
    background: black;
    line-height: 1.5;
    margin: .8em;
}



/* Footer */
footer {
    position: relative;
    top: 20px;
    /* bottom: 0; */
}
#footer {
    text-align: center;
}

#contact {
    height: 200px;
    margin: 0 auto;
}

footer h2{ margin: 10px; }

.copyright {
    text-align: left;
    margin-left: 20px;
}